.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
kotlin-js-store/
.gemini/
.claude/

# Compiled classes & temp files
*.class
*.log
*.png
!src/main/resources/icons/*.png
*.wav
*.py
*.ps1
*.txt
*.msi
TestColor.kt
first_token_manager.json
scratch/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
arch_build/
*.pkg.tar.zst
